<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner</title>
</head>

<body>

    <header>
        <h1>Travel Planner</h1>
    </header>
    <main>
        <section  class="trips" id="trips">
            <div class="trip">


                <div class="trip-thumbnail">
                    <img src="media/sample.jpg"></img>
                </div>
                <div class="trip-title">
                    <p>My Trip to: Paris, France</p>
                    <p>Departing:02/12/2020</p>
                </div>
                <div class="trip-actions">
                    <button>edit trip</button>
                    <button>remove trip</button>
                </div>
                <div class="trip-info">
                    <div class="trip-info-weather">
                        <p>Paris, France is 220 days away</p>
                        <p>Typical weather for then is:</p>
                        <p>High -24, Low: -35</p>
                        <p>Mostly cloudy thoughout the day</p>
                    </div>
                </div>

            </div>
            <div class="trip">


                <div class="trip-thumbnail">
                    <img src="media/sample.jpg"></img>
                </div>
                <div class="trip-title">
                    <p>My Trip to: Tokyo, Japan</p>
                    <p>Departing:02/12/2021</p>
                </div>
                <div class="trip-actions">
                    <button>edit trip</button>
                    <button>remove trip</button>
                </div>
                <div class="trip-info">
                    <div class="trip-info-weather">
                        <p>Tokyo, Japan is 212 days away</p>
                        <p>Typical weather for then is:</p>
                        <p>High -24, Low: -35</p>
                        <p>Mostly cloudy thoughout the day</p>
                    </div>
                </div>

            </div>
        </section>
        <section class="add" id="add-trip">
            <div class="add-item">
                <span>My trip to: </span><input placeholder="Enter Location"/>
            </div>            
            <div class="add-item">
                <span>Departing: </span><input placeholder="MM/DD/YYYY"/>
            </div>
                        
        </section>
    </main>
    <footer class="navbar">
        <button>Add</button>
        <button>History</button>
    </footer>
</body>

</html>