.trips {
    width: 100%;
    display: flex;
    flex-direction: column;

    p {
        width: 80%;
        margin: auto;
        button {
            color: #bc9158;
            font: 100 normal Verdana, sans-serif;
        }
    }

    .trip {
        border: 0.5rem solid #6f4e37;
        margin: 1rem 0;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;

        .trip-thumbnail {
            margin-right: 1rem;
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;

            text-align: right;
        }
        .trip-info {
            grid-row-start: 1;
            grid-row-end: 2;
            grid-column-start: 2;
            grid-column-end: 3;
            color: #6f4e37;
            text-align: left;
            img {
                display: inline;
                vertical-align: middle;
                width: 1.5rem;
                height: 1.5rem;
            }
        }
        .trip-actions {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;

            color: #bc9158;
            font: 100 normal Verdana, sans-serif;
            width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}

@media (min-width: 768px) {
    .trips {
        p {
            width: 80%;
            margin: auto;
            button {
                font-size: bold;
            }
        }

        .trip {
            .trip-thumbnail {
                width: 40vw;
            }
            .trip-info {
                font-size: bolder;
            }
            .trip-actions {
                font-size: bold;
            }
            .trip-info {
                font-size: bold;
            }
        }
    }
}
